@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --border-opacity: var(--tw-border-opacity, 1); */
    --font-body: "Inter", sans-serif;
    --font-sans: "Inter", sans-serif;
    --background: hsl(0, 0%, 11%);
    --foreground: rgba(0, 0, 0, 0.1);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 10% 3.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);
    --primary: hsl(240 5.9% 10%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(240 4.8% 95.9%);
    --secondary-foreground: hsl(240 5.9% 10%);
    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 45%);
    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);
    --destructive: hsl(0 72% 51%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: rgba(228, 228, 231, 0.2);
    --input: hsl(240 5.9% 90%);
    --ring: hsl(240 5.9% 10%);
    --radius: 0.5rem;
    --yellow: #854d0e;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-body text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
  #portfolio-container > main,
  #portfolio-container > section {
    @apply container mx-auto border-b py-8;
  }
  #portfolio-container > main > section {
    @apply border-b py-8;
  }
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.dark-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  background-color: var(--background);
}

a {
  @apply backdrop-blur-sm;
}
